<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HandleGame</servlet-name>
        <servlet-class>servlets.HandleGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckConnection</servlet-name>
        <servlet-class>servlets.CheckConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameHandle</servlet-name>
        <servlet-class>servlets.GameHandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GmPlay</servlet-name>
        <servlet-class>servlets.GmPlay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleGame</servlet-name>
        <url-pattern>/HandleGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckConnection</servlet-name>
        <url-pattern>/CheckConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameHandle</servlet-name>
        <url-pattern>/GameHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GmPlay</servlet-name>
        <url-pattern>/GmPlay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
